<form action="/signup" method="post" class="signup">
  <ul>
    <lh>signup</lh>
    <li><input type="text" name="first_name" placeholder="first_name" autofocus="autofocus"></li>
    <li><input type="text" name="last_name" placeholder="last_name"></li>
    <li><input type="text" name="email" placeholder="email"></li>
    <li><input type="password" name="password" placeholder="password"></li>
    <li><button type="submit" class="signup">signup</button></li>
  </ul>
</form>
      
<div class="new_user_welcome">
</div>
    
<ul class="errors">
</ul>

<a href="/signin" id="signin">signin</a>
