<form action="/signin" method="post">
  <ul>
    <lh>signin</lh>
    <li><input type="text" name="email" placeholder="email"></li>
    <li><input type="text" name="password" placeholder="password"></li>
    <li><button type="submit" class="signin">signin</button></li>
  </ul>
</form>
